* {
  margin: 0;
  padding: 0;
}

body {
  background-color: cornflowerblue;
  overflow: hidden;
}

#root {
  height: 100%;
}

#main-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}

#panel-border {
  background:rgba(10, 15, 54, 0.85);
  position: absolute;
  width: 150px;
  height: 100%;
  left: 0px;
}

#panel-controls {
  color: rgb(97, 190, 221);
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 55px;
}

#panel-count {
  background:rgba(6, 10, 48, 0.5);
  color: rgb(124, 222, 252);
  float: right;
  /* margin-top: 0px;
  margin-right: 0px; */
  text-align: center;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 11px;
}
